body {
  background-color: rgb(54, 57, 63);
}

.token {
  border: solid 2px;
  width: calc(40px - 4px);
  height: calc(40px - 4px);
  border-radius: 100%
}

.purple {
  background-color: blueviolet
}

.white {
  background-color: white
}

table, td {
  border: 1px solid black;
  background-color: rgb(47, 49, 54)
}

td {
  width: 40px;
  height: 40px;
}

.title {
  color: white;
  font-weight: bold;
  margin: 0.5em;
  font-size: 2em;
}